@using Vctoon.Comics.Dtos
@inherits VctoonComponentBase
@if (Comic != null)
{
    <ResourceToolbar ShowTitleActionMenu="@(() => _showActionMenu = true)" Total="@Info.Total" ClearSelected="@ClearSelected"
                     SelectedCount="@(Info.SelectedResources?.Count ?? 0)">
        
        <ToolbarTitleTemplate>
            <FluentBreadcrumb>
                <FluentBreadcrumbItem class="font-bold" Href="@(@$"/library/{Comic.LibraryId}")">
                    @Library.Name
                </FluentBreadcrumbItem>
                
                <FluentBreadcrumbItem class="font-bold" Href="@(@$"/library/{Comic.LibraryId}/comic/{Comic.Id}")">
                    @Comic.Title
                </FluentBreadcrumbItem>
            </FluentBreadcrumb>
            
        </ToolbarTitleTemplate>
        
        <ToolbarMenuTemplate>
            <div class="z-30 mt-1">
                <FluentIcon @onclick="() => _showActionMenu = !_showActionMenu" id="@_titleMenuId"
                            Value="@(new Icons.Filled.Size16.MoreVertical())">
                </FluentIcon>
            </div>
        </ToolbarMenuTemplate>
        
        <ActionbarCenterTemplate>
            <FluentIcon Value="@(new Icons.Filled.Size20.Edit())"></FluentIcon>
            <FluentIcon Value="@(new Icons.Filled.Size20.TextBulletListAdd())"></FluentIcon>
            <FluentIcon Value="@(new Icons.Filled.Size20.MoreHorizontal())"></FluentIcon>
        </ActionbarCenterTemplate>
        
    </ResourceToolbar>
}

@code {
    
    [Parameter] public LibraryDto Library { get; set; }
    
    [Parameter] public ComicDto Comic { get; set; }
    
    [CascadingParameter] public ResourceViewInfo<ImageFileDto>? Info { get; set; }
    
    bool _showActionMenu;
    
    string _titleMenuId => @$"{Comic?.Id}_btn";
    
    void ClearSelected()
    {
        Info.SelectedResources.Clear();
        Info.StateHasChanged();
    }
    
}