@using System.Collections
@using Vctoon.Comics.Dtos
@inherits VctoonComponentBase
@if (Chapter != null)
{
    <ResourceToolbar ShowTitleActionMenu="@(() => _showActionMenu = true)" Total="@Total" ClearSelected="@ClearSelected"
                     SelectedCount="@(Selected?.Count ?? 0)">
        
        <ToolbarTitleTemplate>
            <FluentBreadcrumb>
                <FluentBreadcrumbItem class="font-bold" Href="@(@$"/library/{Comic.LibraryId}")">
                    @Library.Name
                </FluentBreadcrumbItem>
                
                <FluentBreadcrumbItem class="font-bold" Href="@(@$"/library/{Comic.LibraryId}/comic/{Comic.Id}")">
                    @Comic.Title
                </FluentBreadcrumbItem>
                
                <FluentBreadcrumbItem class="font-bold"
                                      Href="@(@$"/library/{Comic.LibraryId}/comic/{Comic.Id}/chapter/{Chapter.Id}")">
                    @Comic.Title
                </FluentBreadcrumbItem>
            </FluentBreadcrumb>
            
        </ToolbarTitleTemplate>
        
        <ToolbarMenuTemplate>
            <div class="z-30 mt-1">
                <FluentIcon @onclick="() => _showActionMenu = !_showActionMenu" id="@_titleMenuId"
                            Value="@(new Icons.Filled.Size16.MoreVertical())">
                </FluentIcon>
            </div>
        </ToolbarMenuTemplate>
        
        <ActionbarCenterTemplate>
            <FluentIcon Value="@(new Icons.Filled.Size20.Edit())"></FluentIcon>
            <FluentIcon Value="@(new Icons.Filled.Size20.TextBulletListAdd())"></FluentIcon>
            <FluentIcon Value="@(new Icons.Filled.Size20.MoreHorizontal())"></FluentIcon>
        </ActionbarCenterTemplate>
        
    </ResourceToolbar>
}

@code {
    
    [Parameter] public LibraryDto Library { get; set; }
    
    [Parameter] public ComicDto Comic { get; set; }
    
    [Parameter] public ComicChapterDto Chapter { get; set; }
    
    [Parameter] public long Total { get; set; }
    
    [Parameter] public IList Selected { get; set; }
    
    [Parameter] public Action OnStateChange { get; set; }
    
    bool _showActionMenu;
    
    string _titleMenuId => @$"{Chapter?.Id}_btn";
    
    void ClearSelected()
    {
        Selected.Clear();
        StateHasChanged();
        OnStateChange?.Invoke();
    }
    
}