@page "/library/{libraryId:guid}/comic/{comicId:guid}/chapter/{chapterId:guid}"
@using Vctoon.Comics
@using Vctoon.Comics.Dtos
@inherits SelectResourceViewBase<ImageFileDto>
@attribute [Authorize(VctoonPermissions.Comic.Default)]
@inject IComicAppService ComicAppService
@inject ILibraryAppService LibraryAppService
@inject IImageUrlProvider ImageUrlProvider
@inject IComicChapterAppService ComicChapterAppService
@inject DateTimeFormatService DateTimeFormatService
@if (_chapter != null)
{
    <ResourceView>
        
        <Toolbar>
            <ComicChapterToolbar Chapter="@_chapter" Comic="@_comic" Library="@_library" Selected="@SelectedResources" Total="@Total"
                                 OnStateChange="StateHasChanged">
            </ComicChapterToolbar>
            
        </Toolbar>
        
        <Content>
            <div class="flex flex-col">
                <div class="flex flex-wrap md:space-x-6 w-full">
                    <div class="max-w-80">
                        <ResourceImage Progress="@((int) _comic.Progress)" ImageUrl="@ImageUrlProvider.GetCoverUrl(_comic.CoverPath)"
                                       HoverEnabled PlayEnabled>
                        </ResourceImage>
                    </div>
                    <div class="space-y-4">
                        <div class="text-2xl font-bold">
                            @_comic.Title
                        </div>
                        <div class="flex flex-col space-y-1">
                            <div>
                                @DateTimeFormatService.FormatCreateDate(_comic.CreationTime)
                                
                            </div>
                            @if (_comic.LastModificationTime.HasValue)
                            {
                                <div>
                                    @DateTimeFormatService.FormatModifyDate(_comic.LastModificationTime.Value)
                                </div>
                            }
                        </div>
                    </div>
                    
                    <div>
                        @foreach (var tag in tags)
                        {
                        }
                    </div>
                </div>
            </div>
            
            <div class="flex flex-wrap gap-4">
                @foreach (var image in Resources)
                {
                    <div @onclick="args => { if (args.ShiftKey) OnResourceShiftClick(image); }">
                        <ResourceImage SelectEnabled
                                       HoverEnabled
                                       PlayEnabled
                                       DynamicHeightWidthEnabled
                                       Title="@image.Name"
                                       IsSelectedMode="@(!SelectedResources.IsNullOrEmpty())"
                                       IsChecked="@SelectedResources.Contains(image)"
                                       OnIsCheckedChanged="@(b => ResourceImageCheckChanged(image, b))"
                                       ImageUrl="@ImageUrlProvider.GetImageUrl(image.Id)">
                        </ResourceImage>
                    </div>
                }
            </div>
        </Content>
        
        
    </ResourceView>
}


@code {
    
    [Parameter] public virtual Guid LibraryId { get; set; }
    [Parameter] public virtual Guid ComicId { get; set; }
    [Parameter] public virtual Guid ChapterId { get; set; }
    
    LibraryDto _library;
    ComicDto _comic;
    ComicChapterDto _chapter;
    
    List<TagDto> tags = [];
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _library = await LibraryAppService.GetAsync(LibraryId);
            _comic = await ComicAppService.GetAsync(ComicId);
            _chapter = await ComicChapterAppService.GetAsync(ChapterId);
            await LoadResourceAsync();
            
            StateHasChanged();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    }
    
    protected override async Task<(List<ImageFileDto> Items, long TotalCount)> GetResourceListAsync()
    {
        var images = await ComicChapterAppService.GetChapterAllImageFileAsync(_chapter.Id);
        
        return (images, images.Count);
    }
    
}