@page "/tags"
@using Vctoon.Extensions
@inherits ResourceViewBase<TagDto>
@attribute [Authorize]
@inject ITagAppService TagAppService
@inject UserStore UserStore
@inject IStringLocalizer<LibraryResource> LL
@inject IDialogService DialogService
<CascadingValue Value="@Info">
    <ResourceView>
        <ToolbarTemplate>
            <TagToolBar @bind-Filter="@_filter"></TagToolBar>
        </ToolbarTemplate>
        <ContentTemplate>
            <div class="space-y-4 mt-4">
                <div class="flex flex-wrap gap-4">
                    @if (!Info.Resources.IsNullOrEmpty())
                    {
                        @foreach (var tag in Info.Resources)
                        {
                            <div @onclick="args => { if (args.ShiftKey) OnResourceShiftClick(tag); }">
                                <LibraryTagItem
                                    ResourceCount="@tag.ResourceCount"
                                    Selected="Info.SelectedResources.Contains(tag)"
                                    EnabledSelect="@_isAdmin"
                                    Name="@tag.Name"
                                    OnSelectedChanged="selected => OnTagSelectedChange(selected, tag)">
                                </LibraryTagItem>
                            </div>
                        }
                    }
                </div>
            </div>

        </ContentTemplate>
    </ResourceView>
</CascadingValue>


@code {
    readonly bool _withResourceCount = true;

    string? _filter;

    bool _isAdmin;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isAdmin = CurrentUser.IsAdmin();
            await LoadResourceAsync();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task<(List<TagDto> Items, long TotalCount)> GetResourceListAsync()
    {
        var tags = (await TagAppService.GetAllTagAsync(_withResourceCount))
            .WhereIf(!_filter.IsNullOrEmpty(), x => x.Name.Contains(_filter)).ToList();

        return (tags, tags.Count);
    }

    void OnTagSelectedChange(bool selected, TagDto tag)
    {
        if (selected)
        {
            Info.SelectedResources.Add(tag);
        }
        else
        {
            Info.SelectedResources.Remove(tag);
        }
    }

}