@page "/tags"
@inherits VctoonComponentBase
@attribute [Authorize]
@inject ITagAppService TagAppService
@inject UserStore UserStore
@inject IStringLocalizer<LibraryResource> LL
@inject IDialogService DialogService
<div class="flex flex-col space-y-6 p-2">
    <div class="flex flex-row space-x-4 items-center">
        <h3 class="mt-2">@L["Menu:Tags"]</h3>
    </div>

    <div>
        <FluentCard>
            <div class="flex flex-row space-x-2 w-full justify-between">
                <div class="flex flex-row items-center space-x-2">
                    <FluentTextField @bind-Value="@_filter"></FluentTextField>
                    <FluentButton OnClick="@(() => LoadTagsAsync())" Appearance="Appearance.Accent" IconStart="@(new Icons.Filled.Size24.Search())">@L["Search"]</FluentButton>

                </div>

                <div>
                    <FluentButton OnClick="@(() => ShowCreateTagDialogAsync())" Appearance="Appearance.Accent" IconStart="@(new Icons.Filled.Size24.Add())">@LL["NewTag"]</FluentButton>
                </div>
            </div>
        </FluentCard>
    </div>

    <div class="space-y-4">
        <div class="flex flex-wrap gap-1.5">
            @if (!_tags.IsNullOrEmpty())
            {
                @foreach (var tag in _tags)
                {
                    <LibraryTagItem Name="@tag.Name"></LibraryTagItem>
                }
            }

        </div>
    </div>
</div>

@code {
    List<TagDto> _tags;

    bool _withResourceCount;

    string? _filter;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadTagsAsync();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    async Task LoadTagsAsync()
    {
        _tags = (await TagAppService.GetAllTagAsync(_withResourceCount))
            .WhereIf(!_filter.IsNullOrEmpty(), x => x.Name.Contains(_filter)).ToList();
        ;

        StateHasChanged();
    }

    async Task ShowCreateTagDialogAsync()
    {
        DialogParameters parameters = new()
        {
            Title = LL["NewTag"]
        };

        var dialog = await DialogService.ShowDialogAsync(
            @<div>
                <CreateTagDialog/>
            </div>,
            parameters);

        await dialog.Result;

        await LoadTagsAsync();
    }

}