@page "/libraries/create"
@using Vctoon.Blazor.Client.Validations
@inherits VctoonComponentBase

<h3>@L["CreateLibrary"]</h3>

<EditForm Model="@Dto" OnValidSubmit="@HandleValidSubmit">
    
    <AbpDataAnnotationsValidator/>
    
    <FluentTextField Label="Name" Placeholder="Name" @bind-Value="@Dto.Name" Required/>
    <FluentValidationMessage For="@(() => Dto.Name)"/>
    
    <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">@L["Submit"]</FluentButton>
</EditForm>


@code {
    [SupplyParameterFromForm] public LibraryCreateUpdateDto Dto { get; set; } = new();
    
    void HandleValidSubmit(EditContext context)
    {
        Console.WriteLine("Valid submit");
        // Call the API to create the library
    }
    
}