@page "/libraries/create"
@using Vctoon.Libraries
@inherits VctoonComponentBase
@inject IStringLocalizer<LibraryResource> L
@inject IDialogService DialogService
@inject ILibraryAppService LibraryAppService
@inject IToastService ToastService
@inject UserStore UserStore
<div class="p-4 space-y-8">
    <h3>@L["CreateLibrary"] </h3>
    <EditForm Model="@Dto" OnValidSubmit="@HandleValidSubmit">
        
        <div class="flex flex-col space-y-2">
            <AbpDataAnnotationsValidator/>
            <div>
            </div>
            
            <div>
                <FluentTextField Label="@L["DisplayName:Name"]" @bind-Value="@Dto.Name"/>
                <FluentValidationMessage For="@(() => Dto.Name)"/>
            </div>
            
            <div class="flex flex-col space-x-2">
                <div class="flex items-center">
                    <span>@L["DisplayName:Paths"]</span>
                    
                    <FluentButton IconStart="@(new Icons.Regular.Size20.Add())"
                                  BackgroundColor="transparent"
                                  OnClick="ShowLibraryPathSelect">
                    </FluentButton>
                </div>
                <div class="flex flex-col space-y-2">
                    @foreach (var path in Dto.Paths)
                    {
                        <div class="flex flex-row items-center">
                            
                            <span class="flex-1">@path</span>
                            <FluentButton IconStart="@(new Icons.Regular.Size20.Delete())"
                                          BackgroundColor="transparent"
                                          OnClick="@(() => Dto.Paths.Remove(path))"/>
                            
                        </div>
                    }
                </div>
                <FluentValidationMessage For="@(() => Dto.Paths)"/>
                
            </div>
            <FluentButton Loading="@_submitLoading" Type="ButtonType.Submit" Appearance="Appearance.Accent"
                          class="">
                @L["Submit"]
            </FluentButton>
            
        </div>
        
        
    </EditForm>
</div>


@code {
    [SupplyParameterFromForm] public LibraryCreateUpdateDto Dto { get; set; } = new();
    
    bool _submitLoading = false;
    
    async Task HandleValidSubmit(EditContext context)
    {
        _submitLoading = true;
        try
        {
            var res = await LibraryAppService.CreateAsync(Dto);
            await UserStore.LoadLibrariesAsync();
        }
        catch (Exception e)
        {
            ToastService.ShowError(e.Message);
        }
        finally
        {
            _submitLoading = false;
        }
    }
    
    
    async void ShowLibraryPathSelect()
    {
        SelectPath selectedPath = new("");
        
        DialogParameters parameters = new()
        {
            Title = L["SelectLibraryPath"],
            PrimaryAction = L["Yes"],
            PrimaryActionEnabled = false,
            SecondaryAction = L["No"],
            Width = "80%",
            PreventScroll = true
        };
        
        var dialog = await DialogService.ShowDialogAsync<SelectLibraryPathDialog>(selectedPath, parameters);
        var result = await dialog.Result;
        
        if (result.Data is not null)
        {
            Dto.Paths.AddIfNotContains(selectedPath.Path);
            StateHasChanged();
        }
    }
    
}