@page "/libraries/create"
@using Vctoon.Blazor.Client.Layout
@using Vctoon.Blazor.Client.Validations
@inherits VctoonComponentBase

<h3>@L["CreateLibrary"]</h3>

<EditForm Model="@dto" OnValidSubmit="@HandleValidSubmit">

    <AbpDataAnnotationsValidator />
    
    <FluentTextField Label="Name" Placeholder="Name" @bind-Value="@dto.Name" Required/>
    <FluentValidationMessage For="@(() => dto.Name)" />
    
    <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">@L["Submit"]</FluentButton>
</EditForm>


@code {
    [SupplyParameterFromForm] public LibraryCreateUpdateDto dto { get; set; } = new();
    
    void HandleValidSubmit(EditContext context)
    {
        Console.WriteLine("Valid submit");
        // Call the API to create the library
    }
    
}