@page "/library/{libraryId:guid}"
@using Vctoon.Comics
@using Vctoon.Comics.Dtos
@inherits ResourceViewBase<ComicDto>
@inject IComicAppService ComicAppService
@inject ILibraryAppService LibraryAppService
@attribute [Authorize(VctoonPermissions.Library.Default)]

@if (_library != null)
{
    <CascadingValue Value="@Info">
        
        <ResourceView>
            <Toolbar>
                <LibraryToolbar Library="_library">
                </LibraryToolbar>
            </Toolbar>
            <Content>
                <div class="flex flex-wrap gap-4">
                    @if (!Info.Resources.IsNullOrEmpty())
                    {
                        @* TODO: virtualize ? *@
                        @foreach (var comic in Info.Resources)
                        {
                            <div @onclick="args => { if (args.ShiftKey) OnResourceShiftClick(comic); }">
                                
                                <ResourceImage OnTitleClick="@(() => NavigationToComic(comic))"
                                               EditEnabled
                                               HoverEnabled
                                               DynamicHeightWidthEnabled
                                               SelectEnabled
                                               MenuEnabled
                                               PlayEnabled
                                               ImageUrl="@ImageUrlProvider.GetCoverUrl(comic.CoverPath)"
                                               Title="@comic.Title"
                                               SubTitle="@DateTimeFormatService.FormatCreateDate(comic.CreationTime)"
                                               Progress="@((int?)comic.Progress)"
                                               IsSelectedMode="@(!Info.SelectedResources.IsNullOrEmpty())"
                                               IsChecked="@Info.SelectedResources.Contains(comic)"
                                               OnIsCheckedChanged="@(b => ResourceImageCheckChanged(comic, b))">
                                    
                                    <SubTitleTemplate>
                                        <div class="text-info">
                                            @if (Info.Soft.Field == nameof(ComicDto.LastModificationTime))
                                            {
                                                if (comic.LastModificationTime.HasValue)
                                                {
                                                    @DateTimeFormatService.FormatModifyDate(comic.LastModificationTime.Value)
                                                }
                                            }
                                            else
                                            {
                                                @DateTimeFormatService.FormatCreateDate(comic.CreationTime)
                                            }
                                        </div>
                                        
                                    </SubTitleTemplate>
                                    
                                </ResourceImage>
                            </div>
                        }
                    }
                    
                </div>
                
            </Content>
        </ResourceView>
    </CascadingValue>
}

@code {
    [Parameter] public virtual Guid LibraryId { get; set; }
    
    LibraryDto _library;
    
    
    void NavigationToComic(ComicDto comic)
    {
        NavigationManager.NavigateTo($"/library/{LibraryId}/comic/{comic.Id}");
    }
    
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _library = await LibraryAppService.GetAsync(LibraryId);
            
            WeakReferenceMessenger.Default.Register<LibraryScanCompletedMessage>(this, async (r, m) =>
            {
                if (m.Value == LibraryId)
                {
                    // TODO: check sorting
                    await LoadResourceAsync(true);
                }
            });
            
            await LoadResourceAsync();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    }
    
    public override ValueTask DisposeAsync()
    {
        WeakReferenceMessenger.Default.Unregister<LibraryScanCompletedMessage>(this);
        return base.DisposeAsync();
    }
    
    protected override async Task<(List<ComicDto> Items, long TotalCount)> GetResourceListAsync()
    {
        var res = await ComicAppService.GetListAsync(new ComicGetListInput
        {
            LibraryId = LibraryId,
            MaxResultCount = Info.LoadResourceCount,
            SkipCount = Info.Resources.Count,
            Sorting = Info.Soft.ToString()
        });
        return (res.Items.ToList(), res.TotalCount);
    }
    
}