@page "/library/{libraryId:guid}"
@using Vctoon.Comics
@using Vctoon.Comics.Dtos
@inherits SelectResourceViewBase<ComicDto>
@inject IComicAppService ComicAppService
@inject ILibraryAppService LibraryAppService
@attribute [Authorize(VctoonPermissions.Library.Default)]

@if (_library != null)
{
    <ResourceView>
        <Toolbar>
            <LibraryToolbar Library="_library" Selected="SelectedResources" Total="Total"
                            OnStateChange="StateHasChanged">
            </LibraryToolbar>
        </Toolbar>
        <Content>
            <div class="flex flex-wrap gap-4">
                @if (!Resources.IsNullOrEmpty())
                {
                    @* TODO: virtualize ? *@
                    @foreach (var comic in Resources)
                    {
                        <div @onclick="args => { if (args.ShiftKey) OnResourceShiftClick(comic); }">
                            
                            <ResourceImage OnTitleClick="@(() => NavigationToComic(comic))"
                                           EditEnabled
                                           HoverEnabled
                                           DynamicHeightWidthEnabled
                                           SelectEnabled
                                           MenuEnabled
                                           PlayEnabled
                                           ImageUrl="@ImageUrlProvider.GetCoverUrl(comic.CoverPath)"
                                           Title="@comic.Title"
                                           SubTitle="@DateTimeFormatService.FormatCreateDate(comic.CreationTime)"
                                           Progress="@((int) comic.Progress)"
                                           IsSelectedMode="@(!SelectedResources.IsNullOrEmpty())"
                                           IsChecked="@SelectedResources.Contains(comic)"
                                           OnIsCheckedChanged="@(b => ResourceImageCheckChanged(comic, b))">
                            </ResourceImage>
                        </div>
                    }
                }
                
            </div>
            
        </Content>
    </ResourceView>
}

@code {
    [Parameter] public virtual Guid LibraryId { get; set; }
    
    LibraryDto _library;
    
    void NavigationToComic(ComicDto comic)
    {
        NavigationManager.NavigateTo($"/library/{LibraryId}/comic/{comic.Id}");
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _library = await LibraryAppService.GetAsync(LibraryId);
            
            WeakReferenceMessenger.Default.Register<LibraryScanCompletedMessage>(this, async (r, m) =>
            {
                if (m.Value == LibraryId)
                {
                    // TODO: check sorting
                    await LoadResourceAsync(true);
                }
            });
            
            await LoadResourceAsync();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    }
    
    public override ValueTask DisposeAsync()
    {
        WeakReferenceMessenger.Default.Unregister<LibraryScanCompletedMessage>(this);
        return base.DisposeAsync();
    }
    
    protected override async Task<(List<ComicDto> Items, long TotalCount)> GetResourceListAsync()
    {
        var res = await ComicAppService.GetListAsync(new ComicGetListInput
        {
            LibraryId = LibraryId,
            MaxResultCount = 50,
            SkipCount = Resources.Count
        });
        
        return (res.Items.ToList(), res.TotalCount);
    }
    
}