@using Vctoon.Comics.Dtos
@using Vctoon.Localization.Comics
@inherits VctoonComponentBase
@if (Library != null)
{
    <ResourceToolbar Total="@Info.Total" ClearSelected="ClearSelected"
                     SelectedCount="@(Info.SelectedResources?.Count ?? 0)">

        <ToolbarTitleTemplate>
            <FluentBreadcrumbItem class="font-bold" Href="@(@$"/library/{Library.Id}")">
                @Library.Name
            </FluentBreadcrumbItem>
        </ToolbarTitleTemplate>

        <ToolbarMenuTemplate>
            <div class="z-30 mt-1">
                <FluentIcon @onclick="() => _showActionMenu = !_showActionMenu" id="@TitleMenuId"
                            Value="@(new Icons.Filled.Size16.MoreVertical())">
                </FluentIcon>
            </div>

        </ToolbarMenuTemplate>

        <ActionbarCenterTemplate>
            <FluentIcon Id="tagIcon" Value="@(new Icons.Filled.Size20.Tag())"></FluentIcon>
            <FluentTooltip Anchor="tagIcon">
                @L[""]
            </FluentTooltip>

            <FluentIcon Value="@(new Icons.Filled.Size20.TextBulletListAdd())"></FluentIcon>
            <FluentIcon Value="@(new Icons.Filled.Size20.MoreHorizontal())"></FluentIcon>
        </ActionbarCenterTemplate>


        <FilterTemplate>
            <div class="flex flex-row">
                <ResourceToolbarSoftor ResourceType="typeof(ComicResource)" @bind-SelectedSortField="@Info.Soft.Field"
                                       @bind-SortBy="@Info.Soft.SoftBy" SoftFields="@_sortFields"
                                       OnClickMenuItem="@(() => Info.LoadResourceAsync())">
                </ResourceToolbarSoftor>
            </div>
        </FilterTemplate>

    </ResourceToolbar>
}
<LibraryActionMenu @bind-Open="_showActionMenu" Anchor="@TitleMenuId" Library="Library"></LibraryActionMenu>

@code {
    [Parameter] public LibraryDto Library { get; set; }

    [CascadingParameter] public ResourceViewInfo<ComicDto>? Info { get; set; }

    bool _showActionMenu;

    string TitleMenuId => @$"{Library?.Id}_btn";

    string[] _ignoreSortFields =
    [
        nameof(ComicDto.LastModifierId),
        nameof(ComicDto.CreatorId),
        nameof(ComicDto.Id),
        nameof(ComicDto.CoverPath),
        nameof(ComicDto.LibraryId)
    ];

    string[] _sortFields;

    string _selectSortField;

    protected override void OnInitialized()
    {
        _sortFields = typeof(ComicDto).GetProperties().Select(p => p.Name).Where(p => !_ignoreSortFields.Contains(p)).ToArray();
        base.OnInitialized();
    }

    void ClearSelected()
    {
        Info.SelectedResources.Clear();
        Info.StateHasChanged();
    }

}