@inherits VctoonLayoutBase
@inject NavigationManager NavigationManager
<FluentToastProvider/>
<FluentDialogProvider/>
<FluentTooltipProvider/>
<FluentMessageBarProvider/>

<FluentLayout>

    <FluentHeader>
        <span class="text-3xl">Vctoon</span>
        <FluentSpacer/>

        <FluentProfileMenu
            Status="@PresenceStatus.Available"
            HeaderLabel="Vctoon"
            Initials="@CurrentUser.Name?.FirstOrDefault().ToString()"
            FullName="@CurrentUser.Name"
            EMail="@CurrentUser.Email"
            Style="min-width: 330px;"
            OnHeaderButtonClick="@(() => { 
                                     // TODO: sign out
                                 })"/>

        @* <div> *@
        @* *@
        @*     <FluentPersona Id="persona1" Initials="@CurrentUser.Name" *@
        @*                    Status="PresenceStatus.Available" *@
        @*                    StatusSize="PresenceBadgeSize.Tiny" *@
        @*                    ImageSize="40px"> *@
        @*     </FluentPersona> *@
        @* *@
        @*     <FluentMenu Anchor="persona1" Trigger="MouseButton.Left" Anchored="false"> *@
        @*         <FluentMenuItem Label="Item 166666666666666"/> *@
        @*     </FluentMenu> *@
        @* </div> *@

    </FluentHeader>


    <FluentStack Orientation="Orientation.Horizontal">

        <FluentNavMenu Width="250">
            <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())">Item 1</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.Cloud())">Item 2</FluentNavLink>
            <FluentNavGroup Title="Item 3">
                <FluentNavLink Icon="@(new Icons.Regular.Size24.LeafOne())">Item 3.1</FluentNavLink>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.LeafTwo())">Item 3.2</FluentNavLink>
            </FluentNavGroup>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.CalendarAgenda())" Disabled="true">Item 4</FluentNavLink>
        </FluentNavMenu>


        <FluentBodyContent Class="w-full h-full">
            @Body
        </FluentBodyContent>

    </FluentStack>
</FluentLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>