@using Vctoon.Comics.Dtos
@inherits VctoonComponentBase

<FluentButton id="@_anchorId" Appearance="Appearance.Stealth" IconEnd="@(SortBy.IsNullOrEmpty() || !SoftFields.Contains(SelectedSortField) ? null : _sortIcons[SortBy])"
              OnClick="@(() => _isOpen = !_isOpen)">
    @if (!SortBy.IsNullOrEmpty() && SoftFields.Contains(SelectedSortField))
    {
        @L["ResourceSoftBy", RL[@$"DisplayName:{SelectedSortField}"]]
    }
    else
    {
        @L["ResourceSoft"]
    }
</FluentButton>

<FluentMenu @bind-Open="@_isOpen" Anchor="@_anchorId">
    
    @foreach (var sortName in SoftFields)
    {
        <FluentMenuItem OnClick="@(() => OnClickSortMenuItem(sortName))">
            @RL[@$"DisplayName:{sortName}"]
            @if (SelectedSortField == sortName)
            {
                <span slot="end">
                    @if (SortBy == "asc")
                    {
                        <FluentIcon Value="@_sortIcons["asc"]" Color="Color.Accent" Slot="start"/>
                    }
                    else if (SortBy == "desc")
                    {
                        <FluentIcon Value="@_sortIcons["desc"]" Color="Color.Accent" Slot="start"/>
                    }
                </span>
            }
        </FluentMenuItem>
    }
</FluentMenu>

@code {
    [Parameter] public string? SortBy { get; set; }
    [Parameter] public IEnumerable<string> SoftFields { get; set; } = [];
    [Parameter] public string? SelectedSortField { get; set; }
    [Parameter] public Type ResourceType { get; set; }
    [Parameter] public EventCallback<string?> SortByChanged { get; set; }
    [Parameter] public EventCallback<string?> SelectedSortFieldChanged { get; set; }
    
    [Parameter] public EventCallback<string> OnClickMenuItem { get; set; }
    [Inject] public IStringLocalizerFactory StringLocalizerFactory { get; set; }
    bool _isOpen;
    
    string _anchorId;
    
    IStringLocalizer RL;
    
    Dictionary<string, Icon> _sortIcons = new()
    {
        { "asc", new Icons.Regular.Size16.ArrowSortUp() },
        { "desc", new Icons.Filled.Size16.ArrowSortDown() }
    };
    
    protected override void OnInitialized()
    {
        _anchorId = $"sort_{Guid.NewGuid()}";
        RL = StringLocalizerFactory.Create(ResourceType);
        
        if (SelectedSortField.IsNullOrEmpty())
        {
            SelectedSortField = nameof(ComicDto.CreationTime);
            SortBy = "asc";
        }
        
        
        base.OnInitialized();
    }
    
    async Task OnClickSortMenuItem(string sortName)
    {
        if (SelectedSortField == sortName)
        {
            if (SortBy.IsNullOrEmpty())
            {
                SortBy = "asc";
            }
            else if (SortBy == "asc")
            {
                SortBy = "desc";
            }
            else if (SortBy == "desc")
            {
                SortBy = null;
            }
        }
        else
        {
            SelectedSortField = sortName;
            SortBy = "asc";
        }
        
        await SortByChanged.InvokeAsync(SortBy);
        await SelectedSortFieldChanged.InvokeAsync(SelectedSortField);
        
        await OnClickMenuItem.InvokeAsync();
    }
    
}