@using Vctoon.Blazor.Client.Pages.Libraries
@inherits VctoonComponentBase
@inject IStringLocalizer<VctoonResource> L
@inject UserStore UserStore
@inject ILibraryAppService LibraryAppService
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<LibraryResource> LL
<FluentMenu Anchor="@(Anchor ?? @$"{Library.Name}_libraryBtn")" Open="@Open" VerticalThreshold="170" OpenChanged="@OpenChanged">
    <FluentMenuItem @onclick="() => ScanLibrary(Library)">
        @L["ScanLibrary"]
    </FluentMenuItem>

    <FluentMenuItem @onclick="() => ShowEditLibraryDialog()">
        @L["Edit"]
    </FluentMenuItem>

    <FluentMenuItem @onclick="() => ShowDeleteLibraryDialog(Library)">
        <span class="text-red-500">@L["Delete"]</span>
    </FluentMenuItem>
</FluentMenu>

@code {

    [Parameter] public LibraryDto Library { get; set; }

    [Parameter] public bool Open { get; set; }

    [Parameter] public string? Anchor { get; set; }

    [Parameter] public EventCallback<bool> OpenChanged { get; set; }

    void ShowDeleteLibraryDialog(LibraryDto library)
    {
        var msg = L["AreYouSureToDeleteLibrary", library.Name];
        DialogService.ShowConfirmation(L["DeleteLibrary"], async res =>
        {
            if (res.Cancelled)
                return;

            await LibraryAppService.DeleteAsync(library.Id);
            await UserStore.LoadLibrariesAsync();
            NavigationManager.NavigateTo(@$"/", replace: true);
        }, msg, L["Submit"], L["Cancel"], L["AreYouSure"]);
    }

    async void ShowEditLibraryDialog()
    {
        DialogParameters parameters = new()
        {
            Title = LL["EditLibrary"]
        };

        IDialogReference dialog = null;

        dialog = await DialogService.ShowDialogAsync(
                @
            < div >
            <EditLibrary LibraryId = "@Library.Id" OnSucceeded = "() => dialog!.CloseAsync()" / >
            </div >,
        parameters);

        await dialog.Result;
    }


    async Task ScanLibrary(LibraryDto library)
    {
        await LibraryAppService.ScanAsync(library.Id);
    }

}