@using System.ComponentModel
@using Vctoon.Blazor.Client.Components.Themes
@using Vctoon.Localization.Vctoon
@using Volo.Abp.Users
@inherits VctoonLayoutComponentBase
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject ICurrentUser CurrentUser
@inject AppStore AppStore
@inject IToastService ToastService
@inject IStringLocalizer<VctoonResource> L
<div class="mt-2 mx-2">
    <FluentLayout @rendermode="InteractiveServer">
        <FluentHeader class="rounded-2">
            
            <div class="flex flex-row items-center space-x-4 ">
                
                <FluentButton IconStart="@(new Icons.Regular.Size28.List())"
                              BackgroundColor="transparent"
                              Appearance="Appearance.Accent"
                              OnClick="@SwitchMenuBar">
                </FluentButton>
                <span class="text-3xl select-none mb-1.3">Vctoon</span>
                
            </div>
            
            <FluentSpacer/>
            
            <div class="flex flex-row space-x-3 items-center select-none">
                
                <FluentButton IconStart="@(new Icons.Regular.Size20.Alert())"
                              BackgroundColor="transparent"
                              Appearance="Appearance.Accent">
                </FluentButton>
                
                <FluentButton IconStart="@(new Icons.Regular.Size20.Settings())"
                              BackgroundColor="transparent"
                              Appearance="Appearance.Accent"
                              OnClick="@OpenThemeSettingPanel">
                </FluentButton>
                
                <FluentTooltip Anchor="settingIcon">
                    Theme Settings
                </FluentTooltip>
                
                <LanguageSelector/>
                
                <FluentProfileMenu Status="@PresenceStatus.Available"
                                   HeaderLabel="Vctoon"
                                   Initials="@CurrentUser.Name?.FirstOrDefault().ToString()"
                                   FullName="@CurrentUser.Name"
                                   EMail="@CurrentUser.Email"
                                   Style="min-width: 330px;"
                                   OnHeaderButtonClick="@(() => { // TODO: sign out
                                                        })"/>
            </div>
        </FluentHeader>
        
        <FluentStack Orientation="Orientation.Horizontal" Class="mt-2" style="height: calc(100dvh - 65.8px);">
            <NavMenu Expanded="@NavMenuExpanded"></NavMenu>
            
            <FluentBodyContent class="h-full w-full max-h-full overflow-y-auto">
                @Body
            </FluentBodyContent>
            <FluentToastProvider/>
            <FluentDialogProvider/>
            <FluentTooltipProvider/>
            <FluentMessageBarProvider/>
        </FluentStack>
        
    </FluentLayout>
    
    
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</div>

@code
{
    public DesignThemeModes ThemeMode { get; set; } = DesignThemeModes.System;
    
    
    public OfficeColor? ThemeOfficeColor { get; set; }
    
    public bool NavMenuExpanded { get; set; } = true;
    
    async Task OpenThemeSettingPanel()
    {
        var themeConfig = new ThemeSettingPanelContent(ThemeMode, ThemeOfficeColor);
        
        themeConfig.PropertyChanged += ThemeConfigOnPropertyChanged;
        
        DialogParameters<ThemeSettingPanelContent> parameters = new()
        {
            Title = $"Theme Settings",
            Alignment = HorizontalAlignment.Right,
            Content = themeConfig,
            PrimaryActionEnabled = false
        };
        await DialogService.ShowPanelAsync<ThemeSettingPanel>(themeConfig, parameters);
    }
    
    private void ThemeConfigOnPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        var config = sender as ThemeSettingPanelContent;
        if (config == null)
        {
            return;
        }
        
        ThemeMode = config.ThemeMode;
        ThemeOfficeColor = config.ThemeColor;
        StateHasChanged();
    }
    
    async Task SwitchMenuBar()
    {
        NavMenuExpanded = !NavMenuExpanded;
    }
    
}