@using Vctoon.Libraries
@using Vctoon.Localization.Vctoon
@inherits VctoonComponentBase
@inject NavigationManager NavigationManager
@inject ILibraryAppService LibraryAppService
@inject IDialogService DialogService
@inject IStringLocalizer<VctoonResource> L
@inject UserStore UserStore
<FluentNavMenu CollapsedChildNavigation Expanded="@Expanded" class="max-h-full h-full overflow-y-auto rounded max-w-60">
    <FluentNavLink ActiveClass="@activeClass" Icon="@(new Icons.Regular.Size24.Home())" Match="NavLinkMatch.All"
                   Href="/">
        @L["Menu:Home"]
    </FluentNavLink>
    <FluentNavGroup Id="LibraryGroup" Icon="@(new Icons.Regular.Size24.Library())" @bind-Expanded="LibrariesExpanded">
        
        <TitleTemplate>
            
            <div class="flex flex-row justify-between items-center">
                <span>@L["Menu:Library"]</span>
                
                <div @onclick="() => NavigationToCreateOrUpdateLibrary()" @onclick:stopPropagation>
                    <FluentButton IconStart="@(new Icons.Regular.Size16.Add())"
                                  BackgroundColor="transparent"
                                  Appearance="Appearance.Stealth"/>
                </div>
            </div>
            
            
        </TitleTemplate>
        
        <ChildContent>
            @foreach (var libraryInfo in Libraries)
            {
                <FluentNavLink ActiveClass="@activeClass" Href="@(@$"/library/{libraryInfo.Info.Id}")"
                               Icon="@(new Icons.Filled.Size16.Book())"
                               @onmouseenter="@(() => libraryInfo.ShowMenuIconBtn = true)"
                               @onmouseleave="() => libraryInfo.ShowMenuIconBtn = libraryInfo.MenuOpen">
                    <div class="flex flex-row items-center hidden">
                        
                        <span class="flex-1 ">@libraryInfo.Info.Name</span>
                        
                        
                        <div class="flex items-center" style="@(@$"{(libraryInfo.ShowMenuIconBtn ? "" : "display:none")}")"
                             @onclick="() => libraryInfo.MenuOpen = !libraryInfo.MenuOpen" @onclick:preventDefault>
                            <FluentIcon id="@(@$"{libraryInfo.Info.Name}_libraryBtn")"
                                        Value="@(new Icons.Filled.Size16.MoreVertical())">
                            </FluentIcon>
                        </div>
                        
                    </div>
                </FluentNavLink>
            }
        </ChildContent>
        
    </FluentNavGroup>
    
</FluentNavMenu>

@foreach (var libraryInfo in Libraries)
{
    <FluentMenu Anchor="@(@$"{libraryInfo.Info.Name}_libraryBtn")" @bind-Open="@libraryInfo.MenuOpen" VerticalThreshold="170">
        <FluentMenuItem @onclick="() => ScanLibrary(libraryInfo.Info)">
            @L["ScanLibrary"]
        </FluentMenuItem>
        
        <FluentMenuItem @onclick="() => NavigationToCreateOrUpdateLibrary(libraryInfo.Info.Id)">
            @L["Edit"]
        </FluentMenuItem>
        
        <FluentMenuItem @onclick="() => ShowDeleteLibraryDialog(libraryInfo.Info)">
            <span class="text-red-500">@L["Delete"]</span>
        </FluentMenuItem>
    </FluentMenu>
}


@code {
    [Parameter] public bool Expanded { get; set; } = true;
    [Parameter] public bool LibrariesExpanded { get; set; } = true;
    
    List<NavMenuLibraryInfo> Libraries { get; set; } = [];
    
    string activeClass = "font-bold active";
    
    async Task ScanLibrary(LibraryDto library)
    {
        await LibraryAppService.ScanAsync(library.Id);
    }
    
    void NavigationToCreateOrUpdateLibrary(Guid? libraryId = null)
    {
        if (libraryId != null)
        {
            var url = NavigationManager.GetUriWithQueryParameters("/library/edit", new Dictionary<string, object>
            {
                {"libraryId", libraryId}
            });
            NavigationManager.NavigateTo(@$"/library/edit/{libraryId}", true);
        }
        else
        {
            NavigationManager.NavigateTo(@"/library/create");
        }
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UserStore.LoadLibrariesAsync();
            UpdateUserLibraryChanged();
            UserStore.PropertyChanged += (sender, args) =>
            {
                if (args.PropertyName == nameof(UserStore.Libraries))
                {
                    UpdateUserLibraryChanged();
                }
            };
            
            UserStore.Libraries.CollectionChanged += (sender, args) => { UpdateUserLibraryChanged(); };
        }
        
        
        await base.OnAfterRenderAsync(firstRender);
    }
    
    void UpdateUserLibraryChanged()
    {
        if (UserStore.Libraries.Count != Libraries.Count || UserStore.Libraries.Any(x => Libraries.All(y => y.Info.Id != x.Id)))
        {
            Libraries.Clear();
            foreach (var userStoreLibrary in UserStore.Libraries)
            {
                var info = new NavMenuLibraryInfo(userStoreLibrary);
                Libraries.Add(info);
            }
            
            StateHasChanged();
        }
    }
    
    void ShowDeleteLibraryDialog(LibraryDto library)
    {
        var msg = L["AreYouSureToDeleteLibrary", library.Name];
        DialogService.ShowConfirmation(L["DeleteLibrary"], async res =>
        {
            if (res.Cancelled)
                return;
            
            await LibraryAppService.DeleteAsync(library.Id);
            await UserStore.LoadLibrariesAsync();
        }, msg, L["Submit"], L["Cancel"], L["AreYouSure"]);
    }
    
    
    class NavMenuLibraryInfo(LibraryDto info)
    {
        public LibraryDto Info { get; set; } = info;
        public bool ShowMenuIconBtn { get; set; }
        
        bool _menuOpen;
        
        public bool MenuOpen
        {
            get => _menuOpen;
            set
            {
                _menuOpen = value;
                if (!_menuOpen)
                    ShowMenuIconBtn = false;
            }
        }
    }
    
    
}